<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
</head>

<div class="body_index">

    <div class="inicio_de_sesion">
        <h1>Bienvenido</h1>

        <form action="{{url_for('loguear')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

            <p>Ingresa tu correo</p>
            <input type="email" placeholder="Correo..." id="floatingInput" name="Correo">

            <p>Ingresa tu contraseña</p>
            <input type="password" placeholder="Contraseña..." id="floatingPassword" name="Password">

            <a href="{{url_for('registrarte')}}">Registrarte</a>
            
            <button type="submit">Ingresar</button>
        </form>
        
    </div>
    
</div>

</html>